<!DOCTYPE html>
<html>
<head>
    <title>Register Patient</title>
    <style>
        body { font-family: Arial; text-align: center; }
        input, button { padding: 10px; margin: 10px; font-size: 16px; width: 300px; }
    </style>
</head>
<body>
    <h1>🏥 Register New Patient:</h1>
    
    <form method="POST">
        Name: <br>
        <input type="text" id="name" name="name" placeholder="Enter patient's name" required minlength="2" aria-label="Patient Full Name">
        
        Age: <br>
        <input type="number" name="age" required><br><br>
        
        Complaint: <br>
        <input type="text" id="complaint" name="complaint" placeholder="e.g. Fever, Headache" required pattern=".{3,}">
        
        <button type="submit:" style="background:green;color:white">Register Patient</button>
    </form>
    
    <a href="/" class="back-btn">Back to Queue</a>
</html>